<div class="jumbotron dashboard">
  <h1 class="text-center">Manage Listings</h1>
</div>

<div class="row placeholders">
</div>

<div class="row">
  <div class="col-md-12 .col-sm-12 .col-xs-12">

      <!-- listings table partial -->
      <%= render 'listings/listings_table' %>

  </div>
</div>

<hr>
<%= link_to "New LIsting", new_listing_path, class: "btn btn-primary", data: { no_turbolink: true } %>